black==24.8.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
idna==3.8
mypy-extensions==1.0.0
numpy==2.1.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
prettytable==3.11.0
requests==2.32.3
urllib3==2.2.2
wcwidth==0.2.13
